<div>
  <div>
    <h1>
      List of all VBooks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Explore a new VBook
    </h2>

    <form action="/insert_sim" method="post">
      <div>
        <label for="topic_box">
          Original Book or Storyline:
        </label>

        <input type="text" id="topic_box" name="query_topic">
      </div>

      <button>
        Begin your virtual journey
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Original Storyline
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_sims.each do |a_sim| %>
      <tr>
        <td>
          <%= a_sim.id %>
        </td>

        <td>
          <%= a_sim.topic %>
        </td>

        <td>
          <%= time_ago_in_words(a_sim.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_sim.updated_at) %> ago
        </td>

        <td>
          <a href="/vbooks/<%= a_sim.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
