<div>
  <div class = "header">
    <h1>
      List of all VBooks
    </h1>
  </div>
</div>


<div>
  <div class = "form">
    <h2>
      Explore a new VBook
    </h2>

    <form action="/insert_sim" method="post">
      <div>
        <label for="topic_box">
          Original Title:
        </label>

        <input type="text" id="topic_box" name="query_topic">
      </div>

      <div>
        <label for="ref_box">
          Reference Link:
        </label>

        <input type="text" id="ref_box" name="query_ref">
      </div>

      <button>
        Begin your virtual journey
      </button>
    </form>
  </div>
</div>

<div>
  <div class ="table">
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
          VBook
        </th>

        <th>
          Background
        </th>
      </tr>

      <% @list_of_sims.each do |a_sim| %>
      <tr>
        <td>
          <%= a_sim.id %>
        </td>

        <td>
          <%= a_sim.topic %>
        </td>

        <td>
          <%= time_ago_in_words(a_sim.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_sim.updated_at) %> ago
        </td>

        <td>
          <a href="/vbooks/<%= a_sim.id %>">
            Continue simulation
          </a>
        </td>
        <td>
          <% if a_sim.ref.present? %>
            <a href="<%= a_sim.ref %>" target="_blank" rel="noopener noreferrer">
              View context
            </a>
          <% else %>
            <span>No reference</span>
          <% end %>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
